/* Table styling */
#productTable {
  width: 95%;
  table-layout: fixed;
  margin: auto;
}
#productTable td, #productTable th {
  word-wrap: break-word;
}
#productTable input,
#productTable select {
  width: 100%;
  box-sizing: border-box;
}
#productTable th:first-child, #productTable td:first-child {
  width: 50px;
  max-width: 50px;
  padding: 0.5rem;
  text-align: center;
}

/* Sticky container for the submit button */
.submit-btn-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
input {
  width: 100%;
}

/* Loader styles */
.loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
display: none; /* Hidden by default */
align-items: center;
justify-content: center;
z-index: 2000;
}

.spinner {
width: 50px;
height: 50px;
border: 6px solid #ccc;
border-top-color: #007bff;
border-radius: 50%;
animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
to { transform: rotate(360deg); }
}
